#butt {
 background: #ffffff71;
    color: rgb(0, 0, 0);
    border: #ffffff00;
    border-radius: 50px;
    padding: 50px 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 145, 255, 0.061);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #0000006f;
        border: white;
        fill: white;
        color: aliceblue;
    }
}


.page-btn{
    background: #ffffff71;
    color: rgb(0, 0, 0);
    border: #ffffff00;
    border-radius: 50px;
    padding: 50px 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 145, 255, 0.061);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #0000006f;
        border: white;
        fill: white;
        color: aliceblue;
    }
}

.btn {
    background: #ffffff71;
    color: rgb(0, 0, 0);
    border: #ffffff00;
    border-radius: 50px;
    padding: 50px 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 145, 255, 0.061);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #0000006f;
        border: white;
        fill: white;
        color: aliceblue;
    }
}



body{
font-family: Arial, Helvetica, sans-serif;
}

#articles{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

